@charset "utf-8";

html{
  height: 100%;
}

body{
  height: 100%;
}

body, p{
  margin: 0;
  padding: 0;
}

.login_content h1{
  margin: 0;
  font-size: 8vw;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
}

#login{
  background-image: url(/image/login.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%
}

.login_content{
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}

.login_form{
  padding-top: 25vh;
}

.login_content p{
  color: white;
  font-size: 20px;
}

.login_content input{
  background-color: #f5f5f5;
  vertical-align: middle;
  margin-bottom: 3px;
}

.login_content a{
  display: inline-block;
  margin-top: 30px;
  color: #ffffff;
}

.login_content a:hover{
  color: rgba(255,255,255,.6);
}

.login_content .btn{
  background-color: #4682b4;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid #4682b4;
}

.login_content .btn:hover{
  opacity: 0.9;
}

#create, #complete, #email_transmit, #password_create{
  background-color: #f5f5f5;
}

.header_all{
  background-image: url(/image/create.jpg);
  height: 30vh;
  position: relative;
  background-size: cover;
}

#create header, #complete header, #email_transmit header, #password_create header{
  background-color: rgba(0,0,0,.4);
  height: 100%;
}

#create h1, #complete h1, #email_transmit h1, #password_create h1{
  margin: 0;
  text-align: center;
  color: white;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  padding-top: 9vh;
}

.create_content{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.create_form{
  background-color: white;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 5vh 10vw;
}

.reset_form{
  background-color: white;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 15vh 10vw;
}

.password_create_form, .email_transmit_form{
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 5vh auto;
  padding: 20vh 10vw;
}

.create_form dl{
  width: 100;
}

.create_form dl dt{
  font-weight: bold;
  float: left;
  width: 30%;
}

.create_form dl dd{
  margin-left: 30%;
}

.reset_form dl{
  width: 100;
}

.reset_form dl dt{
  font-weight: bold;
  float: left;
  width: 30%;
}

.reset_form dl dd{
  margin-left: 30%;
}

.form_content{
  padding-bottom: 4vh;
  border-top: 2px solid #dcdcdc;
}

.flg{
  padding-bottom: 4vh;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}

.create_input{
  width: 70%;
}

.create_btn{
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
}

.create_submit{
  height: 7vh;
  width: 13vw;
  font-size: 15px;
  background-color: #4682b4;
  color: white;
  border: 3px solid #4682b4;
  border-radius: 5px;
}

.create_submit:hover{
  opacity: 0.9;
}

.complete_content{
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 5vh auto;
  margin-bottom: 5vh;
  padding: 35vh 10vw;
  font-size: 2rem;
}

.complete_content p{
  border-bottom: 3px solid #dcdcdc;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.complete_btn{
  height: 7vh;
  width: 13vw;
  font-size: 15px;
  background-color: #4682b4;
  color: white;
  border: 3px solid #4682b4;
  border-radius: 5px;
  margin-top: 5vh;
}

.complete_btn:hover{
  opacity: 0.9;
}

#err{
  color: red;
  font-size: 10px;
  height: 4vh;
  margin-left: 30%;
}
